# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/linux/flutter/ephemeral/.plugin_symlinks/jni/
/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux/
/linux/flutter/ephemeral/flutter_linux/fl_application.h
/linux/flutter/ephemeral/flutter_linux/fl_basic_message_channel.h
/linux/flutter/ephemeral/flutter_linux/fl_binary_codec.h
/linux/flutter/ephemeral/flutter_linux/fl_binary_messenger.h
/linux/flutter/ephemeral/flutter_linux/fl_dart_project.h
/linux/flutter/ephemeral/flutter_linux/fl_engine.h
/linux/flutter/ephemeral/flutter_linux/fl_event_channel.h
/linux/flutter/ephemeral/flutter_linux/fl_json_message_codec.h
/linux/flutter/ephemeral/flutter_linux/fl_json_method_codec.h
/linux/flutter/ephemeral/flutter_linux/fl_message_codec.h
/linux/flutter/ephemeral/flutter_linux/fl_method_call.h
/linux/flutter/ephemeral/flutter_linux/fl_method_channel.h
/linux/flutter/ephemeral/flutter_linux/fl_method_codec.h
/linux/flutter/ephemeral/flutter_linux/fl_method_response.h
/linux/flutter/ephemeral/flutter_linux/fl_pixel_buffer_texture.h
/linux/flutter/ephemeral/flutter_linux/fl_plugin_registrar.h
/linux/flutter/ephemeral/flutter_linux/fl_plugin_registry.h
/linux/flutter/ephemeral/flutter_linux/fl_standard_message_codec.h
/linux/flutter/ephemeral/flutter_linux/fl_standard_method_codec.h
/linux/flutter/ephemeral/flutter_linux/fl_string_codec.h
/linux/flutter/ephemeral/flutter_linux/fl_texture.h
/linux/flutter/ephemeral/flutter_linux/fl_texture_gl.h
/linux/flutter/ephemeral/flutter_linux/fl_texture_registrar.h
/linux/flutter/ephemeral/flutter_linux/fl_value.h
/linux/flutter/ephemeral/flutter_linux/fl_view.h
/linux/flutter/ephemeral/flutter_linux/flutter_linux.h
/linux/flutter/ephemeral/generated_config.cmake
/linux/flutter/ephemeral/icudtl.dat
/linux/flutter/ephemeral/libflutter_linux_gtk.so
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugins.cmake
